validadores/empleados.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:complexType name="Empleados">
        <xs:sequence>

            <xs:element name="empleado" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="Contratado">
                            <xs:attribute name="codigo" type="IdEmpleado" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
