validadores/registroPersonal.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="empleados.xsd" />
    <xs:include schemaLocation="consultores.xsd" />
    <xs:include schemaLocation="departamentos.xsd" />

    <!-- Elemento Raíz -->
    <xs:element name="registroPersonal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleados" type="Empleados" />
                <xs:element name="consultores" type="Consultores" />
                <xs:element name="departamentos" type="Departamentos" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
