validadores/tipos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Definición de tipos -->
    <xs:simpleType name="Email">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\-._]+\@[a-z]+\.[a-z]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Telefono">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NombrePropio">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-ZÁ-Ú][a-zá-ú]+( [A-ZÁ-Ú][a-zá-ú]+)*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LetraSexo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="V" />
            <xs:enumeration value="H" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Contacto">
        <xs:sequence>
            <xs:element name="email" type="Email" />
            <xs:element name="telefono" type="Telefono" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Direccion">
        <xs:sequence>
            <xs:element name="calle" type="xs:string" />
            <xs:element name="ciudad" type="xs:string" />
            <xs:element name="codigoPostal" type="xs:integer" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Contratado">
        <xs:sequence>
            <xs:element name="nombre" type="NombrePropio" />
            <xs:element name="sexo" type="LetraSexo" />
            <xs:element name="contacto" type="Contacto" />
            <xs:element name="departamento" type="Departamento" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="IdEmpleado">
        <xs:restriction base="xs:ID">
            <xs:pattern value="E\d{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IdConsultor">
        <xs:restriction base="xs:ID">
            <xs:pattern value="C\d{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IdDepartamento">
        <xs:restriction base="xs:ID">
            <xs:pattern value="D\d{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RefDepartamento">
        <xs:restriction base="xs:IDREF">
            <xs:pattern value="D\d{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Departamento">
        <xs:attribute name="codigo" type="RefDepartamento" />
    </xs:complexType>

    <xs:simpleType name="RefsContratados">
        <xs:restriction base="xs:IDREFS">
            <xs:pattern value="[EC]\d{3}(\s[EC]\d{3})*" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
